<mat-toolbar color="primary">
  <span>DASyR</span>
  <a *ngIf="username" routerLink="/" class="mat-button">Seeds</a>
  <a *ngIf="username" routerLink="/annotation" class="mat-button">Annotations</a>
  <span class="toolbar-spacer"></span>
  <div *ngIf="username">
    <button mat-raised-button (click)="openDialog()" color="accent">{{username}}</button>
  </div>
</mat-toolbar>
