.inner-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-auto-rows: 120px;
  justify-items: center;
  align-items: center;
}

.inner-grid-item button {
  width: 100%;
  height: 100%;
}

.inner-grid-item button:hover:enabled {
  background-color: white;
  color: black;
}

.inner-grid-item {
  width: 90%;
  height: 90%;
  margin-right: 10px;
  margin-bottom: 10px;
}
