<h1 mat-dialog-title>Annotation: {{data.term}}</h1>
<div mat-dialog-content>
  <div class="inner-grid">
    <div *ngFor="let annotationClass of data.annotationClasses" class="inner-grid-item">
      <button mat-raised-button [color]="annotationClass.name === 'Garbage' ? 'warn' : 'primary'"
              (click)="onClassSelect(annotationClass.name)"> {{annotationClass.name}}</button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">CANCEL</button>
</div>
