.container {
  margin: 2vh 5vw;
}

.outer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-auto-rows: 120px;
  justify-items: center;
  align-items: center;
  justify-content:center;
}

.inner-grid-item button {
  width: 100%;
  height: 100%;
}

.inner-grid-item button:hover:enabled {
  background-color: white;
  color: black;
}

.inner-grid-item {
  width: 90%;
  height: 90%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card {
  line-height: 18pt;
  max-width: 600px;
}

.term-highlight {
  color: black;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: rgba(63, 81, 181, 0.25);
}
.current-term-highlight {
  color: white;
  background-color: rgba(63, 81, 181, 0.75);
  text-decoration: underline;
}

.garbage-highlight {
  padding: 2px 4px;
  color: white;
  border-radius: 3px;
  background-color: rgba(244, 67, 54, 0.7);
}

.garbage-highlight:hover {
  cursor: pointer;
  background-color: rgba(244, 67, 54, 0.9);
}

.context-highlight {
  padding: 2px 4px;
  color: white;
  border-radius: 3px;
  background-color: rgba(46, 168, 74, 0.8);
}

.context-highlight:hover {
  cursor: pointer;
  background-color: rgba(46, 168, 74, 1);
}

span.help-garbage-highlight:hover {
  cursor: text;
  background-color: rgba(244, 67, 54, 0.7);
}
span.help-context-highlight:hover {
  cursor: text;
  background-color: rgba(46, 168, 74, 0.8);
}
.spinner-container {
  display:flex;
  align-content: center;
  justify-content: center;
}
.my-actions{
  margin-bottom: 0;
}

.help-section h3{
  margin-top: 10px;
}
.help-section li{
  margin: 10px 0;
  list-style:none;
}
.help-section p{
  line-height: 18pt;
}
.mat-accordion{
  margin: 25px 0 !important;
}
.mat-expansion-panel{
  margin: 25px 0 !important;
}
.bottom-spacer{
  height: 1px;
}
.skip-button {
  color: white;
  background-color: #ff9e42;
}

.finish-button-container {
  display: flex;
  justify-content: center;
  margin-top:15px;
}
