<div class="container">
  <h2>Annotations</h2>
  <div *ngIf="!seedsCreated; else seedsExist">
    <p>Seeds not initialized yet. Please go and create them.</p>
    <button mat-stroked-button color="accent" routerLink="/">Go to Seeds</button>
  </div>
  <ng-template #seedsExist>
    <div class="outer-grid">
      <div class="outer-grid-item">
        <mat-card class="card">
          <div *ngIf="!loading">
            <mat-card-header>
              <mat-card-title>Term: <em>{{annotationContext.term}}</em></mat-card-title>
              <mat-card-subtitle>Context: {{annotationContext.fragmentId.split('/').slice(-2)[0]}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p *ngIf="annotationContext.fragmentContent">
              <span *ngFor="let part of splitFragment; let i=index;">
                <span *ngIf="formatWord(part) === annotationContext.term"
                      matBadgeSize="small" [matBadge]="occurrenceNumbers[i]" matBadgePosition="after"
                      [matBadgeColor]="occurrenceNumbers[i] === currentMainOccurrence ? 'accent' : 'primary' "
                      [ngClass]="{'current-term-highlight': occurrenceNumbers[i] === currentMainOccurrence}"
                      class="term-highlight">{{part}}</span>
                <span (click)="onUngarbage(part)" *ngIf="wordIsGarbage(part)" class="garbage-highlight">{{part}}</span>
                <span (click)="onContextTermClick(part, occurrenceNumbers[i])"
                      *ngIf="!wordIsGarbage(part) && wordIsActiveContextTerm(part, occurrenceNumbers[i])"
                      class="context-highlight">{{part}}</span>

                <span
                  *ngIf="formatWord(part) !== annotationContext.term && !wordIsGarbage(part) && !wordIsActiveContextTerm(part, occurrenceNumbers[i])">{{part}}</span>
              </span>
              </p>

            </mat-card-content>
            <mat-card-actions class="my-actions">

              <mat-divider></mat-divider>
              <button (click)="onUngarbage(garbage)" *ngFor="let garbage of annotationContext.lastGarbage" mat-button
                      color="warn">{{garbage}}</button>
            </mat-card-actions>
          </div>
          <div *ngIf="loading" class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        </mat-card>
      </div>
      <div class="outer-grid-item">

        <div class="inner-grid">
          <div class="inner-grid-item">
            <button mat-raised-button class="skip-button"
                    [disabled]="loading"
                    (click)="skipFragment(annotationContext.fragmentId)">Skip
            </button>
          </div>
          <div *ngFor="let annotationClass of annotationClasses" class="inner-grid-item">
            <button mat-raised-button [color]="annotationClass.name === 'Garbage' ? 'warn' : 'primary'"
                    [disabled]="loading"
                    (click)="addAnnotation(annotationContext.term, currentMainOccurrence,annotationClass.name)"> {{annotationClass.name}}</button>
          </div>
        </div>
        <div class="finish-button-container">
          <button mat-stroked-button color="accent" (click)="submitAnnotations()"
                  [disabled]="loading || !annotationMap[annotationContext.term].hasOwnProperty(1)">Submit Early
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Help
        </mat-panel-title>
        <mat-panel-description>
          Information on how to use and interpret the Annotation System
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="help-section">

        <h3>Term Highlights</h3>
        <ul>
          <li>
                <span matBadgeSize="small" matBadge="i" matBadgePosition="after"
                      matBadgeColor="accent"
                      class="current-term-highlight term-highlight">Term</span>: <b>Active term</b> to be annotated <b>now</b>
            with the <b>annotation panel</b> on the right, annotation will lead to the i+1-th occurrence becoming
            active.
          </li>
          <li>
                <span matBadgeSize="small" matBadge="i+1" matBadgePosition="after"
                      matBadgeColor="warn"
                      class="term-highlight">Term</span>: <b>Inactive term</b>, that either <b>was or will</b> be
            annotated with the <b>annotation panel</b> on the right (i-th occurrence of the term)
          </li>
          <li>
            <span class="help-garbage-highlight garbage-highlight">Term</span>: A <b>garbaged term</b>, that can be <b>ungarbaged</b>
            by <b>clicking</b> on it.
          </li>
          <li>
            <span class="help-context-highlight context-highlight">Term</span>: An <b>annotation candidate</b>, that
            happened to be present in the context. <b>Clicking</b> on it will allow you to <b>annotate</b> it.
          </li>
        </ul>
        <p>
          A new text fragment will be shown, when all occurrences of the <span matBadgeSize="small" matBadge="i"
                                                                               matBadgePosition="after"
                                                                               matBadgeColor="accent"
                                                                               class="current-term-highlight term-highlight">Main Annotation Candidate</span>
          are annotated. <br>
          If you want to annotate an <span class="help-context-highlight context-highlight">Additional Candidate</span>
          or ungarbage a <span class="help-garbage-highlight garbage-highlight">Garbaged Term</span>, do so before you
          have annotated all <span matBadgeSize="small" matBadge="i"
                                   matBadgePosition="after"
                                   matBadgeColor="accent"
                                   class="current-term-highlight term-highlight">Main Annotation Candidates</span>.
        </p>
        <mat-divider></mat-divider>
        <h3>Garbaging</h3>
        <p>
          The <em>Garbage</em> annotation class has a special role: <br>
          <b>A "garbaged" term will not be shown for annotation again and will not produce related terms.</b> <br>
          Also note that the system's term handling is <b>case insensitive</b>. So do not garbage a term, that would be
          interesting if it was differently capitalized!
        </p>
        <mat-divider></mat-divider>
        <h3>Skipping</h3>
        <p>
          Clicking on skip will show you another fragment for the same term, if possible. <br>
        </p>
        <mat-divider></mat-divider>
        <h3>Persistence</h3>
        <p>
          After all occurrences of the main annotation candidate are annotated, the annotations will be sent to the
          server and stored.<br>
          Up until that point annotations are not persistently stored, meaning that <b>refreshing the page undoes your
          progress on the current text fragment only.</b> <br>
        </p>
        <mat-divider></mat-divider>
        <h3>Support</h3>
        <p>
          If you encounter any issues with the system, contact your administrator. <br>
          E-Mail: <b>{{adminMail}}</b>
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="bottom-spacer"></div>
</div>
