<h1 mat-dialog-title>Ungarbage {{data.term}}?</h1>
<div mat-dialog-content>
  <p>Do you want to ungarbage the term '{{data.term}}'?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">NO</button>
  <button mat-button (click)="onUngarbageClick()" cdkFocusInitial>UNGARBAGE</button>
</div>
