.container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.bg {
  background: linear-gradient(rgba(83, 109, 254,.2), rgba(83, 109, 254,.1)), url("src/assets/webb.png");
  width: 100%;
  height: 100%;
}
.mat-card-header{
  display: flex;
  justify-content: center;
}
.mat-card-actions{
  display: flex;
  justify-content: center;
}
.mat-form-field{
  width: 100%;
}
.form-container {
  width: 300px;
  }
