<h1 mat-dialog-title>Logout?</h1>
<div mat-dialog-content>
  <p>Do you want to logout, {{data.name}}?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">NO</button>
  <button mat-button (click)="onLogoutClick()" cdkFocusInitial>LOGOUT</button>
</div>
