<div class="container">
  <h2 class="mat-h2">Seeds</h2>
  <p *ngIf="!alreadyCreated">Please create seeds to initialize the system.<br>First create your annotation classes, then
    add terms to the
    respective class. </p>
  <p>Use <b>_</b> (UNDERLINE) to separate words in a phrase. Use with care though, as not all phrases are valid in the.</p>
  <p *ngIf="alreadyCreated">
    <b>Seeds are already initialized.</b> This view is now read-only. <br>
    <button mat-stroked-button color="accent" routerLink="/annotation">Go to Annotation</button>
  </p>
  <mat-card *ngIf="!alreadyCreated" class="upload-container">
    <p>
      You can kickstart the creation by providing a .json file with the  following structure:
      <br>
      <code>&nbsp;&nbsp;{{"{"}}
      </code>
      <br>
      <code>&nbsp;&nbsp;&nbsp;&nbsp;"class1": ["term1", "term2", ...],</code>
      <br>
      <code>&nbsp;&nbsp;&nbsp;&nbsp;"class2": ["term3", "term4", ...],</code>
      <br>
      <code>&nbsp;&nbsp;&nbsp;&nbsp;...</code>
      <br>
      <code>&nbsp;&nbsp;{{"}"}}</code>
    </p>
    <input class="hide" id="file-upload" type="file" (change)="handleFileInput($event)"/>
    <label for="file-upload" class="mat-raised-button mat-accent">Choose File</label>
  </mat-card>

  <h3 class="mat-h3">Create annotation classes</h3>


  <mat-form-field class="chip-list">
    <mat-chip-list #classList aria-label="Annotation Class selection" [disabled]="alreadyCreated">
      <mat-chip color="warn" selectable="false" selected="true">
        Garbage
      </mat-chip>
      <mat-chip color="warn" selectable="false" selected="true">
        None
      </mat-chip>
      <mat-chip color="primary" *ngFor="let seed of getNonDefaultSeeds()" selectable="false" selected="true"
                [removable]="removable" (removed)="removeClass(seed)">
        {{seed.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New Annotation Class..." class="mat-disabled"
             [matChipInputFor]="classList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addClass($event)"
      >
    </mat-chip-list>
  </mat-form-field>

  <h3>Add initial terms to annotation classes</h3>
  <div *ngFor="let seed of seeds">
    <h4>{{seed.name}}</h4>
    <mat-form-field class="chip-list">
      <mat-chip-list #classList aria-label="Term selection" [disabled]="alreadyCreated">
        <mat-chip color="accent" *ngFor="let term of seed.terms" [selectable]="selectable" selected="true"
                  [removable]="removable" (removed)="removeTerm(seed, term)">
          {{term}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [placeholder]="'Add term to class ' + seed.name"
               [matChipInputFor]="classList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addTerm($event, seed)"
               [disabled]="alreadyCreated"
        >
      </mat-chip-list>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="onSaveSeeds()" [disabled]="alreadyCreated">Save and Submit</button>
  <div class="bottom-spacer"></div>
</div>
