.container {
  margin: 2vh 5vw;
}

.chip-list {
  margin-top: 10px;
  margin-left: 15px;
  width: 80vw;
}

h3, button {
  margin-top: 20px;
}

.hide {
  display: none;
  }

.upload-container {
  margin-bottom: 20px;
  max-width: 600px;
  background-color: rgba(255, 182, 193, 0.2)
}
.bottom-spacer{
  height: 15px;
}
